<!-- JS -->
<!-- build:js /assets/javascript/all.min.js -->
<footer class="site-footer">
    <section class="container center">
        <h2>Let's get in touch</h2>
        <h4 class="sans neg">How can I help you ?</h4>
        <ul class="social-footer">
            <li><a href="{{site.social.twitter}}">twitter</a> |</li>
            <li><a href="{{site.social.dribbble}}">dribbble</a> |</li>
            <li><a href="{{site.social.github}}">github</a> |</li>
            <li><a href="{{site.social.lastfm}}">lastfm</a> |</li>
            <small>Made by Julien Brionne with <3 </span>
        </ul>
    </section>
    <figure class="bottom-gradient"></figure>
</footer>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/javascript/javascript.js"></script>
<!-- endbuild -->