/*==============================
=            Config            =
==============================*/

/*----------  Font Face  ----------*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import url(https://fonts.googleapis.com/css?family=Merryweather:400,400i,700,700i);

/*----------  Color  ----------*/
$colors: (brand: #007EA7, brand-annex: #9AD1D4, inverted-brand: #FFBA08, dark: #222, grey: #cccccc, white: #fdfdfd, body-type: #555, head-type: #333, note-text: #888);

/**
*
* Colours | Avoid the use of map-get
*
**/
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}

/*----------  Typo  Vars ----------*/

$sans-serif:'Noto Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$serif:'Merryweather', serif;


/*----------  Grid  ----------*/
$column-width     : 100px;
$gutter-width     : 10px;
$columns          : 12;
$content-width    : 50rem;
$post-width       : 50rem;
$total-width      : 100%;

/*----------  Test  ----------*/


/*=====  End of Config  ======*/
