/*==============================
=            Config            =
==============================*/

/*----------  Font Face  ----------*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);

@include font-face(MinionProReg, fonts/MinionPro-Regular);
@include font-face(MinionProBold, fonts/MinionPro-Bold);
@include font-face(MinionProIt, fonts/MinionPro-it);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

/*----------  Color  ----------*/
$colors: (brand: #007EA7, brand-annex: #9AD1D4, inverted-brand: #FFBA08, dark: #222, grey: #cccccc, white: #fdfdfd, body-type: #555, head-type: #333, note-text: #888);

/**
*
* Colours | Avoid the use of map-get
*
**/
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}

/*----------  Typo  Vars ----------*/

$sans-serif:'Noto Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'MinionProReg', serif;
$serif-bold: 'MinionProBold', serif;


/*----------  Grid  ----------*/
$column-width     : 100px;
$gutter-width     : 10px;
$columns          : 12;
$content-width    : 50rem;
$post-width       : 50rem;
$total-width      : 100%;

/*----------  Test  ----------*/


/*=====  End of Config  ======*/
