/*==============================
=            Config            =
==============================*/

/*----------  Font Face  ----------*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,900,300);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);

$serif:'Source Serif Pro', serif;
$sans-serif:'Source Sans Pro','Helvetica Neue', Helvetica, Arial, sans-serif;


/*----------  Color  ----------*/
$colors: (brand: #bf616a, brand-annex: #016773, dark: #222, grey: #cccccc, white: #f9f9f9, body-type: #666, head-type: #333, note-text: #888);
/**
*
* Colours | Avoid the use of map-get
*
**/
@function color($key) {
    @if map-has-key($colors, $key) {
        @return map-get($colors, $key);
    }
    @warn "Unknown `#{$key}` in $colors.";
    @return null;
}

/*----------  Typo  Vars ----------*/
@font-face {
    font-family: "NoeDisplayMedium";
    src: url('fonts/NoeDisplayMedium.eot'); /* IE9 Compat Modes */
    src: url('fonts/NoeDisplayMedium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/NoeDisplayMedium.woff') format('woff'); /* Pretty Modern Browsers */
}

$brand:'NoeDisplayMedium';

/*----------  Grid  ----------*/
$column-width     : 100px;
$gutter-width     : 0px;
$columns          : 12;
$content-width    : 64rem;
$post-width       : 64rem;
$total-width      : 100%;

/*=====  End of Config  ======*/
