/*==========================================
=            Figures & Pictures            =
==========================================*/

img {
    max-width: 100%;
}

figure {
    padding: 1em 1rem 0rem;
    margin-bottom: 1rem;
    background: color(white);

    figcaption {
        font-size: 1.125rem;

        &:before {
            counter-increment: figure;
            content: "Figure " counter(figure) ": ";
            opacity: 0.5;
        }
    }

    &.awesome {
        // abstract picture
        width: 150%;
        position: relative;
        left: -25%;
    }

    &.left, &.right {
        max-width: 25rem;
        float: left;
    }

    &.right {
        float: right;
    }
}

figure.roll {
    padding: 0;
    margin: 0;
    position: relative;
    background-image: linear-gradient(45deg, color(brand) 0%, color(brand-annex) 100%);

    a {
        display: block;
        z-index: 8;
    }

    img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figcaption {
        padding: 2rem;
        background-color: color(brand);
        opacity: 0.85;
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: color(white);

        &::before {
            position: absolute;
            top: 2rem;
            right: 2rem;
            bottom: 2rem;
            left: 2rem;
            border: 1px solid color(white);
            content: '';
        }
    }

    ul {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: color(white);
        padding-left: 0rem;
        position: relative;
        top: 4rem;
        left: 4rem;
        bottom: 0;

        li {
            display: inline-block;
            font-size: 1rem;
            font-family: $sans-serif;

            i {
                font-size: 1rem;
            }
        }
    }

    figcaption::before, p {
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0);
        transform: scale(0);
        color: color(white);
        padding-left: 2rem;
    }

    &:hover {
        h2 {
            -webkit-transform: translate3d(5%, 0, 0);
            transform: translate3d(5%, 0, 0);
        }

        figcaption::before, p {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        figcaption {
            background-color: rgba(58, 52, 42, 0);
        }

        img {
            opacity: 0.6;
        }
    }
}

/*=====  End of Figures & Pictures  ======*/