/*==============================
=            Footer            =
==============================*/
.site-footer {
    position: relative;
    background-color: #f5f5f5;
    padding-top: 1.5rem;

    .bottom-gradient {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 0.2rem;
        background-image: -moz-linear-gradient(left, color(brand) 0%, color(brand-annex) 100%);
        background-image: -webkit-linear-gradient(left, color(brand) 0%, color(brand-annex) 100%);
        background-image: linear-gradient(to right, color(brand) 0%, color(brand-annex) 100%);
        margin: 0;
        padding: 0;
    }
}

.social-footer {
    margin-top: 1.5rem;
    li {
        list-style: none;
        display: inline;
        margin: 0 .5rem;

        a, svg {
            display: inline-block;
        }

        a {
            position: relative;

            // IE8
            height: 20px;

            // IE8
            height: 2rem;
            width: 20px;

            // IE8
            width: 2rem;
            fill: color(grey);

            &:hover {
                background: color(brand);
                border-radius:100%;
                fill: color(white);
                transition: background-color .5s, transform .5s ease-out;
            }
        }

        svg {
            height: 100%;
            width: 100%;
        }
    }
}

/*=====  End of Footer  ======*/