/*==============================
=            Footer            =
==============================*/
.site-footer {
    position: relative;
    background-color: lighten(color(brand), 68%);

    .bottom-gradient {
        @include gradient();
        position: absolute;
        bottom: 0;
    }
}

.site-footer {
  .social-footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    margin-top: 2rem;

  }
  li {
    &:first-child {
      padding-left: 0px;
    }
    display: inline;
    padding-left: 15px;
  }
  a {
    path {
      fill: rgba(0, 0, 0, 0.2);
      transition: all .3s ease;
      border-bottom: transparent 1px solid !important;
    }
    &:hover {
      path {
        fill: color(brand);
        transition: all .3s ease;
        border-bottom: transparent 1px solid !important;
      }
      border-bottom: transparent 1px solid !important;
    }
    &:active {
      border-bottom: transparent 1px solid !important;
    }
  }

  .footer{
    margin-top: 1.5rem;
    .splitcontent{
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.2);
    }
  }
}

/*=====  End of Footer  ======*/