/*==============================
=            Header            =
==============================*/
.header[role=banner] {
    margin: 10vh 0;

    h1 {
        @include column(12);

        @include breakpoint(medium) {
            @include column(4);
        }
    }

    nav {
        font-family: $sans-serif;

        @include column(12);

        margin: 2rem auto 0;
        text-align: left;

        @include breakpoint(large) {
            @include column(5);

            @include push(3);

            text-align: right;
        }
    }
}

.header__logo {
    @include breakpoint(large) {
        font-size: 0.65rem;
    }


    font-size: 0.85rem;
    letter-spacing: 0.0975em;
    text-transform: uppercase;
    line-height: 0.91rem;
    font-family: $logo;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color .6s ease-in;
    -moz-transition: color .6s ease-in;
    -o-transition: color .6s ease-in;
    transition: color .6s ease-in;

    a {
        text-decoration: none;
        color: color(dark);

        &:hover {
            color: color(brand);

            span {
                color: color(brand-annex);
            }
        }

        span {
            @include breakpoint(large) {
                font-size: 0.6rem;
            }


            font-weight: 400;
            color: color(note-text);
            letter-spacing: -0.01em;
            font-size: 0.8rem;
            font-family: $sans-serif;
            -webkit-transition: color .6s ease-in;
            -moz-transition: color .6s ease-in;
            -o-transition: color .6s ease-in;
            transition: color .6s ease-in;
        }
    }
}

.main-nav {
    -webkit-transition: opacity 0.2s linear 0s;
    transition: opacity 0.2s linear 0s;
    text-align: right;

    a {
        @include breakpoint(large) {
            font-size: 0.65rem;
        }


        font-size: 0.85rem;
        font-weight: bold;
        text-transform: uppercase;
        color: color(dark);
        text-decoration: none;
        display: inline-block;
        margin: 0 2rem 0 0;
        padding: 1rem 0 0 0;
        position: relative;
        top: -1rem;

        &:hover, &.active, &.focus {
            color: color(brand);
            position: relative;

            &:before {
                content: '';
                display: block;
                background-color: color(brand);
                height: 3px;
                width: 15px;
                position: absolute;
                top: 2.5rem;
                left: 0rem;
            }
        }

        &:hover {
            color: color(dark);

            &:before {
                background-color: color(dark);
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

/*=====  End of Header  ======*/