/*================================
=            Homepage            =
================================*/
header[role=header] {
    h2.bording {
        margin: 0.8rem 0;
        width:80%;
    }
    .min{
        font-size: 0.8rem;
        letter-spacing: 1px;
    }
}

section[role=presentation] {
    @include clearfix;

    .headline {
        @include breakpoint(large) {
            @include column(6);
        }


        position: relative;
        margin-left: 0;

        p {
            @include breakpoint(large) {
                font-size: 1.4rem;
            }


            font-family: $brand;
            font-size: 1.2rem;
            color: color(brand);
            line-height: 1.6;
        }

        &:before {
            display: none;

            @include breakpoint(large) {
                content: '';
                display: block;
                background-color: color(brand);
                height: 3px;
                width: 30px;
                position: absolute;
                top: 1rem;
                left: -3rem;
            }
        }
    }

    .introduction {
        @include breakpoint(large) {
            @include column(5);

            @include push(1);
        }
    }
}

footer[role=presentation] {
    margin-top: 3vh;
}

/*Social*/
ul.social li {
    list-style: none;
    display: inline-block;

    a, svg {
        display: block;
    }

    a {
        position: relative;

        // IE8
        height: 16px;

        // IE8
        height: 1.6rem;
        width: 16px;

        // IE8
        width: 1.6rem;
        color: color(grey);
        fill: color(grey);

        &:hover {
            background: color(brand);
            border-radius: 100%;
            color: color(white);
            fill: color(white);
            transition: background-color .5s, transform .5s ease-out;
        }
    }

    svg {
        height: 100%;
        width: 100%;
    }

    em {
        font-size: 14px;
        line-height: 1.5;
        margin-top: -.75em;
        position: absolute;
        text-align: center;
        top: 50%;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

/*=====  End of Homepage  ======*/