/*================================
=            Homepage            =
================================*/

header[role=header] {
    h2.bording {
        margin: 0.8rem 0;
        width: 80%;
    }

    .min {
        font-size: 0.8rem;
        letter-spacing: 1px;
        font-family: $sans-serif;
    }
}

section[role=presentation] {
    @include clearfix;

    font-family: $serif;

    .headline {
        @include breakpoint(large) {
            @include column(6);
        }


        position: relative;
        margin-left: 0;

        p {
            @include breakpoint(large) {
                font-size: 1.4rem;
            }


            font-size: 1.2rem;
            color: color(brand);
            line-height: 1.6;
        }

        &:before {
            display: none;

            @include breakpoint(large) {
                content: '';
                display: block;
                background-color: color(brand);
                height: 3px;
                width: 30px;
                position: absolute;
                top: 1rem;
                left: -3rem;
            }
        }
    }

    .introduction {
        font-family: $serif;

        @include breakpoint(large) {
            @include column(5);

            @include push(1);
        }
    }
}

footer[role=presentation] {
    margin-top: 3vh;
}

/*Social*/

.social{
    list-style: none;
    li{
        padding-left: 2rem;
        position: relative;
        a{
            color:color(grey);
            text-decoration: none;
            font-family: $sans-serif;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 0.9rem;
        }
            &:before {
                content: '';
                display: block;
                background-color: color(grey);
                height: 2px;
                width: 1.5rem;
                position: absolute;
                top: 0.6rem;
                left: 0rem;
            }
            &:hover {
                &:before{
                    background-color:color(inverted-brand);
                }
            }
    }

}

/*----------  Dribbble  ----------*/
.insta{
    list-style:none;
    margin: 0;
    li{
        width:50%;
        display: inline-block;
        margin: 0;
        a{
            font-size: 12px;
        }
        @include breakpoint(large){
            width: 25%;
        }
        img{
            width: 100%;
            max-width: 100%;
            vertical-align: middle;
            margin: 0;
        }
    }
}
figure.roll {
    padding: 0;
    margin: 0;
    position: relative;
    background-image: linear-gradient(45deg, color(brand) 0%, color(brand-annex) 100%);

    a {
        display: block;
        z-index: 8;
    }

    img {
        opacity: 0.9;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
    }

    figcaption {
        padding: 2rem;
        background-color: color(brand);
        opacity: 0.85;
        -webkit-transition: background-color 0.35s;
        transition: background-color 0.35s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: color(white);
        text-align: center;

        &::before {
            position: absolute;
            top: 1rem;
            right: 1rem;
            bottom: 1rem;
            left: 1rem;
            border: 1px solid color(white);
            content: '';
        }
    }

    ul {
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        color: color(white);
        width: 100%;
        margin: 30% 0 0;
        padding: 0;

        li {
            display: inline-block;
            margin: 0 1rem 0;
            font-size: 1rem;
            font-family: $sans-serif;

            i {
                font-size: 1rem;
            }
        }
    }

    figcaption::before, p {
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0);
        transform: scale(0);
        color: color(white);
        padding-left: 2rem;
    }

    &:hover {
        h2 {
            -webkit-transform: translate3d(5%, 0, 0);
            transform: translate3d(5%, 0, 0);
        }

        figcaption::before, p {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        figcaption {
            background-color: rgba(58, 52, 42, 0);
        }

        img {
            opacity: 0.6;
        }
    }
}

/*=====  End of Homepage  ======*/