@charset "UTF-8";
/*==============================
=            Styles            =
==============================*/
/*----------  Base  ----------*/
/*==============================
=            Mixins            =
==============================*/
/**
*
* Mixin for breakpoints
*
**/
/**
 * Mixin handling breakpoints for media queries / Mobile First
 */
/**
*
* Clearfix
*
**/
/*  Vendor Prefixing
/*  @include vendor(background-size, cover);
/*==================================================*/
/*  Animation
/*  @include animation(fadeInUp, 500ms, 200ms, ease, forward);
/*==================================================*/
/*  Opacity
/*  @include opacity(100);
/*==================================================*/
/*=========================================================================
=            // Semantic.gs //             =
=========================================================================*/
/*==========  Grid part  ==========*/
/*=====  End of Layout and Grid (kind of)  ======*/
/* --------------------------------------------------------
    fadeindown
-------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
@-webkit-keyframes fadeInDown {
  from {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; }
  to {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1; } }

@keyframes fadeInDown {
  from {
    zoom: 1;
    filter: alpha(opacity=0);
    opacity: 0; }
  to {
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1; } }

/*==============================
=            Reset             =
==============================*/
/**
 *
 * Based on normalize and normalize-opentype
 *
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*! normalize-opentype.css v0.2.4 | MIT License | kennethormandy.com/journal/normalize-opentype-css */
/**
 * 1. Inherit style issues with custom selections, per robsterlini.co.uk/journal/opentype-and-selection-dont-mix
 * 2. Turn on kerning, standard ligatures, and proportional, oldstyle numerals
 *    Turn off all other ligatures, tabular, lining numerals, and alternates
      Uses same settings for tables
 */
::-moz-selection {
  color: inherit;
  /* 1. */
  text-shadow: inherit;
  /* 2. */
  background-color: #ACCEF7;
  /* 3. */ }
::selection {
  color: inherit;
  /* 1. */
  text-shadow: inherit;
  /* 2. */
  background-color: #ACCEF7;
  /* 3. */ }

html,
body,
table {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0;
  /* 2. */ }

/* Headings
========================================================================== */
/**
 * 1. Turn on discretionary ligatures for larger headings
 */
h1,
h2,
h3 {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 1;
  /* 1. */ }

/* Text-level semantics
========================================================================== */
/**
 * 1. Change all letters to uppercase
 * 2. Turn on small caps for upper and lowercase letters
 */
abbr {
  text-transform: uppercase;
  /* 1 */
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "smcp" 1, "c2sc" 1;
  /* 2 */ }

/*
 * TODO: Turn on diagonal fractions where appropriate
 */
time {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0; }

/*
 * 1. Turn off kerning and ligatures,
 *    Turn on lining, tabular numerals, slashed zero
 */
pre,
kbd,
samp,
code {
  -webkit-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
     -moz-font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
          font-feature-settings: "kern" 0, "liga" 0, "calt" 1, "dlig" 0, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/**
 * 1. Turn on proper supercript numerals
 */
sup {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "sups" 1;
  /* 1. */ }

/**
 * 1. Turn on proper subscript numerals
 */
sub {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 1, "lnum" 0, "dlig" 0, "subs" 1;
  /* 1. */ }

/* Grouping content
========================================================================== */
/**
 * TODO: Adds proper bullets
 */
/*
 * TODO:
 * 1. Adds counters for lists
 * 2. Use proper numerals for lists
 */
/**
 * Adds proper small caps
 */
/**
 * TODO: scmp, sc2c, pnum, case sensitive forms for postal codes
 */
/* Forms
========================================================================== */
/**
 * 1. Turns on lining, proportional numerals without clarified zeroes
 * TODO: Additional input modes https://developer.mozilla.org/en/docs/Web/HTML/Element/Input#attr-inputmode
 */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="number"],
input[type="range"],
input[type="tel"],
input[type="week"] {
  -webkit-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
     -moz-font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
          font-feature-settings: "kern" 0, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 1, "zero" 0;
  /* 1. */ }

/* Tables
========================================================================== */
/**
 * 1. Turns on tabular, lining numerals and slashed zero
 */
tbody,
caption {
  -webkit-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
     -moz-font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
          font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 0, "tnum" 1, "onum" 0, "lnum" 1, "zero" 1;
  /* 1. */ }

/*=====  End of Reset   ======*/
/*==============================
=            Config            =
==============================*/
/*----------  Font Face  ----------*/
@font-face {
  font-family: "MinionProReg";
  src: url("fonts/MinionPro-Regular.eot?") format("eot"), url("fonts/MinionPro-Regular.woff") format("woff"), url("fonts/MinionPro-Regular.ttf") format("truetype"), url("fonts/MinionPro-Regular.svg#MinionProReg") format("svg"); }

@font-face {
  font-family: "MinionProBold";
  src: url("fonts/MinionPro-Bold.eot?") format("eot"), url("fonts/MinionPro-Bold.woff") format("woff"), url("fonts/MinionPro-Bold.ttf") format("truetype"), url("fonts/MinionPro-Bold.svg#MinionProBold") format("svg"); }

@font-face {
  font-family: "MinionProIt";
  src: url("fonts/MinionPro-it.eot?") format("eot"), url("fonts/MinionPro-it.woff") format("woff"), url("fonts/MinionPro-it.ttf") format("truetype"), url("fonts/MinionPro-it.svg#MinionProIt") format("svg"); }

/*----------  Color  ----------*/
/**
*
* Colours | Avoid the use of map-get
*
**/
/*----------  Typo  Vars ----------*/
/*----------  Grid  ----------*/
/*----------  Test  ----------*/
/*=====  End of Config  ======*/
/*============================
=            Base            =
============================*/
html {
  font: 100%/1.4 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

@media (min-width: 40rem) {
  html {
    font-size: 112%; } }

@media (min-width: 64rem) {
  html {
    font-size: 120%; } }

body {
  color: #555;
  font-family: "MinionProReg", serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  text-size-adjust: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
  -webkit-animation-iteration-count: ease;
  animation-iteration-count: ease;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.site-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
  font-family: "MinionProBold", serif; }

h1 {
  font-size: 2.618rem;
  margin-bottom: 1.618rem;
  line-height: 1.4; }

h2 {
  font-size: 1.618rem;
  margin-bottom: 1.618rem;
  line-height: 1.25; }

h3 {
  font-size: 1.333rem;
  margin-bottom: .5rem; }

h4, .subhead {
  position: relative;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 1.15rem;
  color: #888;
  top: -0.75rem; }
  @media (min-width: 48em) {
    h4, .subhead {
      font-size: 1.15rem;
      color: #888; } }

::-moz-selection {
  color: #FFBA08;
  background-color: #fdfdfd; }

::selection {
  color: #FFBA08;
  background-color: #fdfdfd; }

::-moz-selection {
  color: #FFBA08;
  background-color: #fdfdfd; }

p {
  margin: 0 0 1rem; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

dt {
  font-weight: bold; }

dd {
  margin-bottom: .5rem; }

ul {
  list-style: inside circle;
  padding-left: 0; }
  ul li {
    margin-bottom: .25rem; }
  ul ul,
  ul ol {
    margin-top: .25rem;
    margin-bottom: .5rem; }

ol {
  list-style: inside decimal;
  padding-left: 0; }
  ol li {
    margin-bottom: .25rem; }
  ol ul,
  ol ol {
    margin-top: .25rem;
    margin-bottom: .5rem; }

p + h1,
p + h2,
p + h3,
ul + h1,
ul + h2,
ul + h3,
ol + h1,
ol + h2,
ol + h3 {
  margin-top: 1.5rem; }

p a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #007EA7;
  opacity: 1; }

p a:after {
  position: absolute;
  top: 98%;
  left: 0;
  width: 100%;
  height: .1em;
  background: #007EA7;
  content: '';
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
  z-index: -1; }

p a:hover:after {
  background: #FFBA08;
  height: 0.5em;
  top: 50%;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }

hr {
  margin-top: 5vh;
  margin-bottom: 5vh;
  border: 0;
  border-bottom: 4px solid #cccccc;
  max-width: 5rem;
  margin-left: 0; }

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5; }

blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: .5rem solid #e5e5e5; }
  blockquote p:last-child {
    margin-bottom: 0; }

blockquote.awesome {
  text-align: center;
  font-size: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: 0;
  position: relative;
  quotes: "“" "”" "‘" "’"; }
  blockquote.awesome:after {
    color: #ccc;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: open-quote;
    font-size: 80px;
    position: absolute;
    left: 50%;
    bottom: calc(100% - 20px);
    background: #fff;
    height: 55px;
    width: 55px;
    line-height: normal;
    text-align: center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  blockquote.awesome p {
    padding: 20px; }

code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace; }

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #007EA7;
  background-color: #fdfdfd;
  border-radius: 3px; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.2rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: #fdfdfd; }

pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent; }

/*----------  table  ----------*/
table {
  display: table;
  width: 100%;
  border-width: 0px;
  border-collapse: collapse;
  font-weight: 300;
  color: #888;
  margin-top: 0px;
  margin-bottom: 20px; }
  table thead tr td {
    font-weight: normal;
    border-bottom: 2px solid #007EA7;
    background-color: #f6f8fa; }
  table tr td {
    border-bottom: 1px solid #9AD1D4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px; }

@media (min-width: 40rem) {
  h1 {
    font-size: 3rem; }
  h2 {
    font-size: 2.25rem; }
  h3 {
    font-size: 1.5rem; } }

/*========================================
=            Layout and Grid (kind of)            =
========================================*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

.container, .post {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  position: relative;
  *zoom: 1; }
  .container:before, .post:before, .container:after, .post:after {
    content: "";
    display: table; }
  .container:after, .post:after {
    clear: both; }

.container, .post {
  padding: 0 1rem; }
  @media (min-width: 28em) {
    .container, .post {
      max-width: 50rem;
      margin: 0 auto;
      padding: 1rem 2rem; } }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.grid > * {
  -ms-flex-preferred-size: 10em;
      flex-basis: 10em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

/*=====  End of Base  ======*/
/*----------  Classes  ----------*/
.emphasize {
  font-style: italic; }

.brand {
  color: #007EA7; }

.subhead {
  position: relative;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: normal;
  font-size: 0.8rem;
  color: #888;
  top: -0.5rem; }
  @media (min-width: 48em) {
    .subhead {
      font-size: 1.15rem;
      color: #888; } }

.sans {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.serif {
  font-family: "MinionProReg", serif; }

.center {
  text-align: center;
  margin: inherit auto; }

.neg {
  margin-top: -.75rem; }

.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999; }

/*----------  Partials  ----------*/
/*==============================
=            Header            =
==============================*/
.diag {
  position: absolute;
  background-color: #DDD;
  background-image: -webkit-linear-gradient(75deg, #FFF 40%, #eefbff 40%);
  min-height: 800px;
  width: 100%;
  z-index: -1; }

.top-gradient {
  width: 100%;
  height: 0.2rem;
  background-image: -webkit-linear-gradient(left, #007EA7 0%, #9AD1D4 100%);
  background-image: linear-gradient(to right, #007EA7 0%, #9AD1D4 100%);
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0; }

.header[role=banner] {
  margin: 10vh 0; }
  .header[role=banner] h1 {
    display: inline;
    float: left;
    width: 99.24242%;
    margin: 0 0.37879%; }
    @media (min-width: 38em) {
      .header[role=banner] h1 {
        display: inline;
        float: left;
        width: 32.57576%;
        margin: 0 0.37879%; } }
  .header[role=banner] nav {
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline;
    float: left;
    width: 99.24242%;
    margin: 0 0.37879%;
    margin: 2rem auto 0;
    text-align: left; }
    @media (min-width: 48em) {
      .header[role=banner] nav {
        display: inline;
        float: left;
        width: 40.90909%;
        margin: 0 0.37879%;
        margin-left: 25.37879%;
        text-align: right; } }

.header__logo {
  font-size: 0.85rem;
  letter-spacing: 0.0975em;
  text-transform: uppercase;
  line-height: 0.91rem;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color .6s ease-in;
  transition: color .6s ease-in; }
  @media (min-width: 48em) {
    .header__logo {
      font-size: 0.75rem;
      font-weight: 500; } }
  .header__logo a {
    text-decoration: none;
    color: #222; }
    .header__logo a:hover {
      color: #007EA7; }
      .header__logo a:hover span {
        color: #9AD1D4; }
    .header__logo a span {
      font-weight: 400;
      color: #888;
      letter-spacing: -0.01em;
      font-size: 0.8rem;
      font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-transition: color .6s ease-in;
      transition: color .6s ease-in; }
      @media (min-width: 48em) {
        .header__logo a span {
          font-size: 0.6rem; } }

.main-nav {
  -webkit-transition: opacity 0.2s linear 0s;
  transition: opacity 0.2s linear 0s;
  text-align: right; }
  .main-nav a {
    font-size: 0.85rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #222;
    text-decoration: none;
    display: inline-block;
    margin: 0 2rem 0 0;
    padding: 1rem 0 0 0;
    position: relative;
    top: -1rem; }
    @media (min-width: 48em) {
      .main-nav a {
        font-size: 0.65rem; } }
    .main-nav a:before {
      content: '';
      display: block;
      background-color: #007EA7;
      height: 3px;
      width: 0px;
      position: absolute;
      top: 2.5rem;
      left: 0rem;
      -webkit-transition: all 0.2s linear 0s;
      transition: all 0.2s linear 0s; }
    .main-nav a.active, .main-nav a.focus {
      color: #007EA7;
      position: relative; }
    .main-nav a:hover {
      color: #222; }
      .main-nav a:hover:before {
        background-color: #007EA7;
        width: 100%; }
    .main-nav a:last-child {
      margin-right: 0; }

/*=====  End of Header  ======*/
/*==============================
=            Footer            =
==============================*/
.site-footer {
  position: relative;
  background-color: white;
  padding-top: 1.5rem; }
  .site-footer .bottom-gradient {
    width: 100%;
    height: 0.2rem;
    background-image: -webkit-linear-gradient(left, #007EA7 0%, #9AD1D4 100%);
    background-image: linear-gradient(to right, #007EA7 0%, #9AD1D4 100%);
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0; }

.site-footer .social-footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1rem; }

.site-footer li {
  display: inline;
  padding-left: 15px; }
  .site-footer li:first-child {
    padding-left: 0px; }

.site-footer a path {
  fill: rgba(0, 0, 0, 0.2);
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  border-bottom: transparent 1px solid !important; }

.site-footer a:hover {
  border-bottom: transparent 1px solid !important; }
  .site-footer a:hover path {
    fill: #007EA7;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    border-bottom: transparent 1px solid !important; }

.site-footer a:active {
  border-bottom: transparent 1px solid !important; }

.site-footer footer {
  margin-top: 1rem; }

/*=====  End of Footer  ======*/
/*----------  Components  ----------*/
/*==========================================
=            Figures & Pictures            =
==========================================*/
img {
  max-width: 100%; }

figure {
  padding: 1em 1rem 0rem;
  margin-bottom: 1rem;
  background: #fdfdfd; }
  figure figcaption {
    font-size: 1.125rem; }
    figure figcaption:before {
      counter-increment: figure;
      content: "Figure " counter(figure) ": ";
      opacity: 0.5; }
  figure.awesome {
    width: 150%;
    position: relative;
    left: -25%; }
  figure.left, figure.right {
    max-width: 25rem;
    float: left; }
  figure.right {
    float: right; }

/*=====  End of Figures & Pictures  ======*/
/*----------  Pages  ----------*/
/*================================
=            Homepage            =
================================*/
header[role=header] h2.bording {
  margin: 0.8rem 0;
  width: 80%; }

header[role=header] .min {
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

section[role=presentation] {
  *zoom: 1;
  font-family: "MinionProReg", serif; }
  section[role=presentation]:before, section[role=presentation]:after {
    content: "";
    display: table; }
  section[role=presentation]:after {
    clear: both; }
  section[role=presentation] .headline {
    position: relative;
    margin-left: 0; }
    @media (min-width: 48em) {
      section[role=presentation] .headline {
        display: inline;
        float: left;
        width: 49.24242%;
        margin: 0 0.37879%; } }
    section[role=presentation] .headline p {
      font-size: 1.2rem;
      color: #007EA7;
      line-height: 1.6; }
      @media (min-width: 48em) {
        section[role=presentation] .headline p {
          font-size: 1.4rem; } }
    section[role=presentation] .headline:before {
      display: none; }
      @media (min-width: 48em) {
        section[role=presentation] .headline:before {
          content: '';
          display: block;
          background-color: #007EA7;
          height: 3px;
          width: 30px;
          position: absolute;
          top: 1rem;
          left: -3rem; } }
  section[role=presentation] .introduction {
    font-family: "MinionProReg", serif; }
    @media (min-width: 48em) {
      section[role=presentation] .introduction {
        display: inline;
        float: left;
        width: 40.90909%;
        margin: 0 0.37879%;
        margin-left: 8.71212%; } }

footer[role=presentation] {
  margin-top: 3vh; }

/*Social*/
.social {
  list-style: none; }
  .social li {
    padding-left: 2rem;
    position: relative; }
    .social li a {
      color: #cccccc;
      text-decoration: none;
      font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      font-size: 0.9rem; }
    .social li:before {
      content: '';
      display: block;
      background-color: #cccccc;
      height: 2px;
      width: 1.5rem;
      position: absolute;
      top: 0.6rem;
      left: 0rem; }
    .social li:hover:before {
      background-color: #FFBA08; }

/*----------  Dribbble  ----------*/
.insta {
  list-style: none;
  margin: 0; }
  .insta li {
    width: 50%;
    display: inline-block;
    margin: 0; }
    .insta li a {
      font-size: 12px; }
    @media (min-width: 48em) {
      .insta li {
        width: 25%; } }
    .insta li img {
      width: 100%;
      max-width: 100%;
      vertical-align: middle;
      margin: 0; }

figure.roll {
  padding: 0;
  margin: 0;
  position: relative;
  background-image: -webkit-linear-gradient(45deg, #007EA7 0%, #9AD1D4 100%);
  background-image: linear-gradient(45deg, #007EA7 0%, #9AD1D4 100%); }
  figure.roll a {
    display: block;
    z-index: 8; }
  figure.roll img {
    opacity: 0.9;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s; }
  figure.roll figcaption {
    padding: 2rem;
    background-color: #007EA7;
    opacity: 0.85;
    -webkit-transition: background-color 0.35s;
    transition: background-color 0.35s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fdfdfd;
    text-align: center; }
    figure.roll figcaption::before {
      position: absolute;
      top: 1rem;
      right: 1rem;
      bottom: 1rem;
      left: 1rem;
      border: 1px solid #fdfdfd;
      content: ''; }
  figure.roll ul {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    color: #fdfdfd;
    width: 100%;
    margin: 30% 0 0;
    padding: 0; }
    figure.roll ul li {
      display: inline-block;
      margin: 0 1rem 0;
      font-size: 1rem;
      font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
      figure.roll ul li i {
        font-size: 1rem; }
  figure.roll figcaption::before, figure.roll p {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0);
    transform: scale(0);
    color: #fdfdfd;
    padding-left: 2rem; }
  figure.roll:hover h2 {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0); }
  figure.roll:hover figcaption::before, figure.roll:hover p {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  figure.roll:hover figcaption {
    background-color: rgba(58, 52, 42, 0); }
  figure.roll:hover img {
    opacity: 0.6; }

/*=====  End of Homepage  ======*/
/*============================
=            Blog            =
============================*/
/*=====  End of Blog  ======*/
/*=====  End of Styles  ======*/
